*{
    background-color:rgb(45, 44, 44);
}
.div{
    padding: 10px;
    border: solid white;
    color: white;
}
.btn {
    background-color: white;
    margin-bottom: 4px;
    border-radius: 5px;
}
 
.mydiv button{
    background-color: white;
    padding: 4px;
    margin: 10px;
    border-radius: 5px;
}
.mydiv h1{
    background-color: gainsboro;
    color: black;
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 65px;

}
.mydiv{
    display: flex;
    align-items: center;
}

.hola{
    display: flex;
    flex-direction: column;
    
}
.hii{
    display: flex;
    flex-direction: column;
    
}
